*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

    width: 100%;
    height: 80vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);

}

.box{
    width: 170px;
    height: 170px;
    position: relative;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover{
    background-color: hsla(0, 0%, 82%, 0.137);
}
.X{
    position: relative;
    
}
.X::before{
    content: ''; position: absolute; width: 45px; rotate: 45deg; border: 3px solid black;
}
.X::after{
    content: '';
    position: absolute;
    width: 45px;
    rotate: -45deg;
    border: 3px solid black;
}

.O{
    position: relative;
    
}
.O::before{
    content: ''; 
    position: absolute; 
    width: 45px; 
    height: 45px;
    border-radius: 50%; 
    border: 5px solid black;
}


.box:first-child,
.box:nth-child(2),
.box:nth-child(3){
    border-top: none;
    border-bottom: none;
}

.box:nth-child(3n + 1){
    border-left: none;
    border-right: none;
}

.box:nth-child(3n){
    border-left: none;
    border-right: none;

}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9){
    border-bottom: none;
    border-top: none;
}
/*------------------------------*/

.winner{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.945);
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;


    font-size: 50px;
    color: white;
    transition: all 0.2s ease-in-out;

}

.winner p{
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    
}

.button-container{

    width: 300px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button{
    margin-top: 30px;
    border: none;
    width: 110px;
    height: 70px;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    transition: all 0.25;
}

.button-container button:hover{
    background-color: hsl(0, 0%, 65%);
    scale: 1.03;
}
/*----------------------*/

.player-name{
    
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.player{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}
.player .name1, .player .symbol1{
    color: chartreuse;
    font-size: 20px;
}
.player .name2, .player .symbol2{
    color: red;
    font-size: 20px;
}
.displayed-name{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.displayed-symbol{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/*-------------------*/

.input-form-container{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.name-form{

    
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.name-form button {
    background-color: #fff;
    border: none;
    width: 110px;
    height: 70px;
    font-size: 35px;
    border-radius: 15px;
    transition: all 0.3s;
}
#start{
    width: 150px;
    height: 70px;

}
.player-form{
    border-radius: 10px;
    width: 100%;
    background-color: darkgray;
    padding: 20px;
}


.player-form h2 {
    margin-bottom: 20px;
    font-size: 40px;
}
.player-form label{
    font-size: 32px;
}

.player-form input[type=text]{
    font-size: 25px;
    width: 900px;
    height: 70px;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 10px;


}
.name-button{
    display: flex;
    align-items: center;
    gap: 1rem;
}
/*----------*/
