*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90vw;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);

}

.box{
    width: 170px;
    height: 170px;
    position: relative;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover{
    background-color: hsla(0, 0%, 82%, 0.137);
}
.X{
    position: relative;
    
}
.X::before{
    content: ''; position: absolute; width: 45px; rotate: 45deg; border: 3px solid black;
}
.X::after{
    content: '';
    position: absolute;
    width: 45px;
    rotate: -45deg;
    border: 3px solid black;
}

.O{
    position: relative;
    
}
.O::before{
    content: ''; 
    position: absolute; 
    width: 45px; 
    height: 45px;
    border-radius: 50%; 
    border: 5px solid black;
}


.box:first-child,
.box:nth-child(2),
.box:nth-child(3){
    border-top: none;
    border-bottom: none;
}

.box:nth-child(3n + 1){
    border-left: none;
    border-right: none;
}

.box:nth-child(3n){
    border-left: none;
    border-right: none;

}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9){
    border-bottom: none;
    border-top: none;
}
/*------------------------------*/

.winner{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.945);
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;


    font-size: 50px;
    color: white;
    transition: all 0.2s ease-in-out;

}

.winner p{
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    
}

.button-container{

    width: 300px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button{
    margin-top: 30px;
    border: none;
    width: 110px;
    height: 70px;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    transition: all 0.25;
}

.button-container button:hover{
    background-color: hsl(0, 0%, 65%);
    scale: 1.03;
}
